{% extends "doctor_app/base.html" %} 
{% load static %}

{% block content %}

<div class="container-fluid">
   
    <div class="text-end">
    <form name="myform" method="GET" > 
        <input type="text" name="search" placeholder="Search Doctor" style="margin-top: 5px; width: 25%;" />
    </form> 
    </div>
    {% if doctors %}
    <div class="row" style="margin-top: 1rem;">
        {% for doctor in doctors %}
        <div class="col-md-4 mb-4">
            <div class="card" style="width: 100%;">
                <img class="card-img-top" src="{{ doctor.doctor_image.url }}" alt="doctor image" style="width: 100%;height: 15vw;object-fit: contain;">
                <div class="card-body">
                    <h3 class="card-title">{{ doctor.doctor_name }}</h3>
                    <h6 class="card-title">{{ doctor.doctor_department.department_name }}</h6>
                    <h6 class="card-title">{{ doctor.doctor_cost }} € / Appoinment</h6>                  
                    <a href="{% url 'bookDoctorAppoinment' doctor.doctor_id %}" class="btn btn-success">Book Appoinment</a>


                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% if doctor_search %}
    <a href="{% url 'doctors' %}" class="btn btn-success">Back to All Doctors</a>

    {% endif %}
    {% endif %}
</div>



{% endblock %}

{% block script %}
<script>
    setTimeout(function() {
        let alertBox = document.querySelector(".alert");
        if (alertBox) {
            alertBox.style.display = "none";
        }
    }, 3000); // Hides alert after 3 seconds
</script>

{% endblock %}